<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="/style.css">
  <title>Регистрация</title>
</head>

<body>
  <div class="container">
    <div class="form-container">
      <h1 class="title">Регистрация</h1>
      <form action="/register" method="POST">
        <div class="field">
          <label class="label">E-mail</label>
          <div class="control">
            <input class="input" type="email" placeholder="E-mail" name="email" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Пароль</label>
          <div class="control">
            <input class="input" type="password" placeholder="Пароль" name="password" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Подтверждение пароля</label>
          <div class="control">
            <input class="input" type="password" placeholder="Подтверждение пароля" name="passwordConfirm" required>
          </div>
        </div>
        <label class="checkbox">
          <input name="admin" type="checkbox">
          Администратор
        </label>
        <div class="control">
          <button class="button is-primary">Зарегистрироваться</button>
          <a href="/login" class="button is-white">У меня есть аккаунт</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>